{% extends "base.html" %}

{% block title %}Menu - Cafe Cloud Nine{% endblock %}
{% block head %}
{{ super() }}
<style>
         body{
            font-family: 'Quicksand', sans-serif;

        }
        .menu-header {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .menu-item {
      font-weight: 400;
      color: black;
    }

    .menu-price {
      font-weight: 400;
      color: #333;
      text-align: right;
    }

  

    .menu-list {
     margin-top: 30px;
    }

    .menu-item-row {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }

    .menu-item p {
      margin-bottom: 0;
      font-size: 18px;
    }

    .category {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
body.dark-mode .menu-item,
body.dark-mode .menu-header,
body.dark-mode .menu-price{
    color: white;
  }
</style>


{% endblock %}
{% block content %}
  <!-- Menu Header -->
  <div class="container text-center mt-5 mb-4">
    <h1 class="font-weight: 500">Our Cafe Menu</h1>
    <p class="text-muted">Freshly prepared with love and served warm</p>
  </div>
 
  
<!-- Menu List -->
<div class="container menu-list">
<h3 class="category">Drinks</h3>

    <div class="menu-item-row">
      <p class="menu-item">Iced Coffee</p>
      <p class="menu-price">$8.00</p>
    </div>
    <div class="menu-item-row">
      <p class="menu-item">Peach Iced Tea</p>
      <p class="menu-price">$7</p>
    </div>
    <div class="menu-item-row">
        <p class="menu-item">Milkshake <span style="margin-left: 10px; font-size: 13px; color: #666">Chocolate | Vanilla | Strawberry | Caramel</span></p>
        <p class="menu-price">$8.00</p>
      </div>

      <h3 class="category">Breakfast</h3>
    <div class="menu-item-row">
      <p class="menu-item">Avocado on Toast</p>
      <p class="menu-price">$20</p>
    </div>
    <div class="menu-item-row">
      <p class="menu-item">Banana Bread</p>
      <p class="menu-price">$9</p>
    </div>
    <div class="menu-item-row">
        <p class="menu-item">Omellete</p>
        <p class="menu-price">$21</p>
      </div>
      <div class="menu-item-row">
        <p class="menu-item">Big Brekky</p>
        <p class="menu-price">$28</p>
      </div>

    <h3 class="category">Main Course</h3>
    <div class="menu-item-row">
        <p class="menu-item">Chicken Bao</p>
        <p class="menu-price">$18</p>
      </div>
    <div class="menu-item-row">
      <p class="menu-item">Pad Thai Noodles</p>
      <p class="menu-price">$27</p>
    </div>
    <div class="menu-item-row">
        <p class="menu-item">Chicken Satay</p>
        <p class="menu-price">$18</p>
      </div>
      <div class="menu-item-row">
        <p class="menu-item">Stir Fry Crispy <span style="margin-left: 10px; font-size: 13px; color: #666">Chickrn | Beef | Pork</span></p>
        <p class="menu-price">$29</p>
      </div>

      <h3 class="category">Dessert</h3>
    <div class="menu-item-row">
        <p class="menu-item">Chocolate Lava Cake</p>
        <p class="menu-price">$7</p>
      </div>
    <div class="menu-item-row">
      <p class="menu-item">Tiramisu</p>
      <p class="menu-price">$9</p>
    </div>
    <div class="menu-item-row">
        <p class="menu-item">Cheescake</p>
        <p class="menu-price">$8</p>
      </div>
      <div class="menu-item-row">
        <p class="menu-item">Cinnamon Sugar Donut</p>
        <p class="menu-price">$9</p>
      </div>
  </div>

{% endblock %}

