# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
project/venv/

# Environment variables / secrets
.env
*.env

# Database files (optional if using SQLite or temp dbs)
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
