/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Script&family=Quicksand:wght@300..700&display=swap");
body {
  background-color: #f8f9fa;
  font-family: "Quicksand", sans-serif;
}
.cafe-name {
  font-family: "League Script", cursive;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin-top: 50px;
  color: #61baf1;
}

.navbar {
  background-color: white !important;
  backdrop-filter: blur(10px);
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar .navbar-brand {
  color: #61baf1;
  font-family: "League Script", cursive;
  font-size: 2rem;
  font-weight: 700;
}
.navbar .navbar-brand:hover {
  color: #1da2f5;
}

.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover {
  color: #87cefa;
}

.product-card {
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.card {
  background-color: #1e1e1e;
  color: white;
  border: none !important;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 95%;
  max-width: 350px;
  margin: 10px auto;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.08);
  transform: scale(1.04);
}

.custom-btn {
  background: #62b6f0;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
}

.custom-btn:hover {
  background: #398bc5;
  text-decoration: none;
}

.custom-btn:active {
  transform: scale(0.95);
}

.custom-btn-update {
  background: #62b6f0;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
}

.custom-btn-update:hover {
  background: #398bc5;
  text-decoration: none;
}

.custom-btn-delete {
  background: #ff6868;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
}

.custom-btn-delete:hover {
  background: #f04747;
  text-decoration: none;
}

.custom-btn-success {
  background: #80dd8c;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
}

.custom-btn-success:hover {
  background: #6dc379;
  text-decoration: none;
}

.navbar .login-btn {
  background: #62b6f0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
}

.navbar .login-btn:hover {
  background: #398bc5;
  color: white;
}

.navbar .bordered-btn {
  border: 1px solid #62b6f0;
  border-radius: 10px;
}

#carousel_slide {
  margin-bottom: 20px;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

footer {
  background-color: #f8f9fa;
  color: #212529;
}
